Repository P-manBrown/tascon-backend: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, htmlbeautifier, debride

lefthook.yml:

min_version: 1.3.0
pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: '*.{rb,erb}'
      run: bin/bundle exec rubocop --autocorrect --force-exclusion {staged_files}
      stage_fixed: true
      fail_text: 'Read the report above.'
    htmlbeautifier:
      glob: '*.erb'
      run: bin/bundle exec htmlbeautifier {staged_files}
      stage_fixed: true
    debride:
      glob: '*.rb'
      run: bin/bundle exec debride --rails -w debride-whitelist.txt {all_files} | tee /dev/tty | grep -q 'LOC:\ 0'
      fail_text: 'Read the report above.'
    protect-branch:
      run: git branch --show-current | tee /dev/tty | grep -Eqvx 'main'
      fail_text: "ERROR: Do NOT commit directly to 'main' branch."
pre-push:
  commands:
    check-git-clean:
      run: test -z "$(git status --porcelain | tee /dev/tty)"
      fail_text: 'ERROR: Commit or stash changes before pushing.'

feat!: change to validate authentication credentials using headers
  app/controllers/api/v1/auth/passwords_controller.rb
  app/controllers/api/v1/auth/registrations_controller.rb
  app/controllers/application_controller.rb
  app/controllers/concerns/set_user_by_token_override.rb
  app/models/user.rb
  config/initializers/cors.rb
  config/initializers/devise_token_auth.rb
  debride-whitelist.txt
  lib/monkey_patches/devise_token_auth/application_controller_patch.rb
Due: rubocop, debride

feat!: change to validate authentication credentials using headers (#160)
  app/controllers/api/v1/auth/passwords_controller.rb
  app/controllers/api/v1/auth/registrations_controller.rb
  app/controllers/application_controller.rb
  app/controllers/concerns/set_user_by_token_override.rb
  app/models/user.rb
  config/initializers/cors.rb
  config/initializers/devise_token_auth.rb
  debride-whitelist.txt
  lib/monkey_patches/devise_token_auth/application_controller_patch.rb
Due: rubocop, debride

feat!: change CSRF countermeasures to validating Origin header
  Gemfile
  Gemfile.lock
  app/controllers/api/v1/csrf_tokens_controller.rb
  app/controllers/application_controller.rb
  config/application.rb
  config/initializers/monkey_patches.rb
  config/initializers/omniauth.rb
  debride-whitelist.txt
Due: rubocop, debride

refactor: remove CSRF token route
  config/routes.rb
Due: rubocop, debride

feat!: change CSRF countermeasures to validating Origin header (#165)
  Gemfile
  Gemfile.lock
  app/controllers/api/v1/csrf_tokens_controller.rb
  app/controllers/application_controller.rb
  config/application.rb
  config/initializers/monkey_patches.rb
  config/initializers/omniauth.rb
  config/routes.rb
  debride-whitelist.txt
Due: rubocop, debride

chore: update Ruby version in Gemfile
  Gemfile
  Gemfile.lock
Due: none

chore: resolve errors when building Docker containers (#173)
  Gemfile
  Gemfile.lock
Due: none

feat: return bearer token upon successful social login
  app/controllers/api/v1/auth/omniauth_callbacks_controller.rb
  app/views/devise_token_auth/omniauth_external_window.html.erb
  debride-whitelist.txt
  lib/monkey_patches/devise/omniauth_callbacks_controller_patch.rb
Due: rubocop, htmlbeautifier, debride

feat!: return bearer token upon successful social login (#177)
  app/controllers/api/v1/auth/omniauth_callbacks_controller.rb
  app/views/devise_token_auth/omniauth_external_window.html.erb
  debride-whitelist.txt
  lib/monkey_patches/devise/omniauth_callbacks_controller_patch.rb
Due: rubocop, htmlbeautifier, debride

feat!: change the timing of authentication in the password reset process
  config/initializers/devise_token_auth.rb
Due: rubocop, debride

feat!: change the timing of authentication in the password reset process (#178)
  config/initializers/devise_token_auth.rb
Due: rubocop, debride

fix: fix the UnknownAttributeError when changing the password
  app/controllers/api/v1/auth/passwords_controller.rb
  debride-whitelist.txt
Due: rubocop, debride

fix: allow password change when allow_password_change is true
  app/controllers/api/v1/auth/passwords_controller.rb
Due: rubocop, debride

fix: fix the UnknownAttributeError when changing the password (#186)
  app/controllers/api/v1/auth/passwords_controller.rb
  debride-whitelist.txt
Due: rubocop, debride

chore: change dependabot update schedule to daily
  .github/dependabot.yml
Due: none

chore: change dependabot update schedule to daily (#198)
  .github/dependabot.yml
Due: none

build: update Ruby version to 3.4.1 in Gemfile
  Gemfile
Due: none

chore: update Ruby version to 3.3.6 in .ruby-version
  .ruby-version
Due: none

chore: update Ruby version to 3.3.6 in .ruby-version (#202)
  .ruby-version
Due: none

feat: add search functionality for users
  app/controllers/api/v1/users_controller.rb
  config/routes.rb
  db/schema.rb
Due: rubocop, debride

feat: add search functionality for users (#204)
  app/controllers/api/v1/users_controller.rb
  config/routes.rb
  db/schema.rb
Due: rubocop, debride

refactor: clean up compose.yml configuration
  compose.yml
Due: none

refactor: clean up compose.yml configuration (#207)
  compose.yml
Due: none

refactor: review whether the monkey patch is still necessary
  lib/monkey_patches/devise/omniauth_callbacks_controller_patch.rb
Due: rubocop, debride

refactor: review whether the monkey patch is still necessary (#211)
  lib/monkey_patches/devise/omniauth_callbacks_controller_patch.rb
Due: rubocop, debride

chore: change seed.rb to create user data
  db/seeds.rb
Due: rubocop, debride

chore: change seed.rb to create user data (#216)
  db/seeds.rb
Due: rubocop, debride

chore: ensure unique email generation for users
  db/seeds.rb
Due: rubocop, debride

chore: ensure unique email generation for users (#218)
  db/seeds.rb
Due: rubocop, debride

chore: correct email address for test user
  db/seeds.rb
Due: rubocop, debride

chore: correct email address for test user (#219)
  db/seeds.rb
Due: rubocop, debride

chore: add not null constraints to relationships
  db/migrate/20250108080057_add_not_null_to_relationships.rb
  db/schema.rb
Due: rubocop, debride

chore: add contacts table and model
  app/models/contact.rb
  db/migrate/20250112085052_create_contacts.rb
  db/migrate/20250117143501_add_foreign_key_to_contacts.rb
  db/schema.rb
  spec/factories/contacts.rb
  spec/models/contact_spec.rb
Due: rubocop, debride

chore: change relationships columns to bigint
  db/migrate/20250108080933_change_relationships_columns_to_bigint.rb
  db/schema.rb
Due: rubocop, debride

chore: remove relationships table and model
  app/models/relationship.rb
  db/migrate/20250111101845_drop_relationships_table.rb
  db/schema.rb
  spec/factories/relationships.rb
  spec/models/relationship_spec.rb
Due: rubocop, debride

chore: add Relationship model and migration
  app/models/relationship.rb
  db/migrate/20250108072027_create_relationships.rb
  db/schema.rb
  spec/factories/relationships.rb
  spec/models/relationship_spec.rb
Due: rubocop, debride

feat: add contact registration feature
  app/controllers/api/v1/contacts_controller.rb
  app/controllers/application_controller.rb
  app/models/contact.rb
  app/models/user.rb
  app/resources/contact_resource.rb
  app/resources/error_resource.rb
  config/locales/active_record.ja.yml
  config/routes.rb
  spec/requests/api/v1/contacts_spec.rb
Due: rubocop, debride

feat: add contact registration feature (#221)
  app/controllers/api/v1/contacts_controller.rb
  app/controllers/application_controller.rb
  app/models/contact.rb
  app/models/user.rb
  app/resources/contact_resource.rb
  app/resources/error_resource.rb
  config/locales/active_record.ja.yml
  config/routes.rb
  db/migrate/20250108072027_create_relationships.rb
  db/migrate/20250108080057_add_not_null_to_relationships.rb
  db/migrate/20250108080933_change_relationships_columns_to_bigint.rb
  db/migrate/20250111101845_drop_relationships_table.rb
  db/migrate/20250112085052_create_contacts.rb
  db/migrate/20250117143501_add_foreign_key_to_contacts.rb
  db/schema.rb
  spec/factories/contacts.rb
  spec/models/contact_spec.rb
  spec/requests/api/v1/contacts_spec.rb
Due: rubocop, debride

feat: add destroy action for contacts
  app/controllers/api/v1/contacts_controller.rb
  config/routes.rb
Due: rubocop, debride
