Repository P-manBrown/tascon-backend: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, htmlbeautifier, debride

lefthook.yml:

min_version: 1.3.0
pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: '*.{rb,erb}'
      run: bin/bundle exec rubocop --autocorrect --force-exclusion {staged_files}
      stage_fixed: true
      fail_text: 'Read the report above.'
    htmlbeautifier:
      glob: '*.erb'
      run: bin/bundle exec htmlbeautifier {staged_files}
      stage_fixed: true
    debride:
      glob: '*.rb'
      run: bin/bundle exec debride --rails -w debride-whitelist.txt {all_files} | tee /dev/tty | grep -q 'LOC:\ 0'
      fail_text: 'Read the report above.'
    protect-branch:
      run: git branch --show-current | tee /dev/tty | grep -Eqvx 'main|develop'
      fail_text: "ERROR: Do NOT commit directly to 'main' or 'develop' branch."
commit-msg:
  skip: merge
  commands:
    git-lint:
      # TEMP: Remove comments because comments are also analyzed.
      run: sed -i '/^\#/d' {1} && bin/bundle exec git-lint --hook {1}
      fail_text: Read the report above and https://tinyurl.com/git-commit-convention
pre-push:
  commands:
    check-git-clean:
      run: test -z "$(git status --porcelain | tee /dev/tty)"
      fail_text: 'ERROR: Commit or stash changes before pushing.'

chore: remove VSCode extensions related to Markdown
  .devcontainer/devcontainer.json
Due: none

ci: add type settings to semantic-pull-request
  .github/workflows/semantic-pull-request.yml
Due: none

chore: add commitlint extension
  .devcontainer/devcontainer.json
  .vscode/cspell.json
Due: none

build: remove git-lint configuration and dependencies
  .git-lint.yml
  Gemfile
  Gemfile.lock
  lefthook.yml
Due: none

chore: change dependabot schedule from daily to monthly
  .github/dependabot.yml
Due: none

chore: add task issue template
  .github/ISSUE_TEMPLATE/task.yml
Due: none

chore: add pull request template
  .devcontainer/devcontainer.json
  .github/pull_request_template.md
Due: none

build: ignore mysql dependency versions >=8.5 in dependabot.yml
  .github/dependabot.yml
Due: none

chore: limit the MySQL version updated by Dependabot to v8.4.x (#74)
  .github/dependabot.yml
Due: none

chore: update Ruby version in Gemfile
  Gemfile
  Gemfile.lock
Due: none

chore: resolve errors when building Docker containers (#77)
  Gemfile
  Gemfile.lock
Due: none

chore: convert task management issue template from YAML to Markdown
  .github/ISSUE_TEMPLATE/task.md
  .github/ISSUE_TEMPLATE/task.yml
Due: none

chore: make the issue template for task management usable with GitHub CLI (#81)
  .github/ISSUE_TEMPLATE/task.md
  .github/ISSUE_TEMPLATE/task.yml
Due: none

build: add rubocop-factory_bot
  Gemfile
  Gemfile.lock
Due: none

chore: resolve errors when running rubocop (#83)
  Gemfile
  Gemfile.lock
Due: none

chore: update Devise and DeviseTokenAuth versions in monkey patch files
  lib/monkey_patches/devise/omniauth_callbacks_controller_patch.rb
  lib/monkey_patches/devise_token_auth/application_controller_patch.rb
Due: rubocop, debride

refactor: review whether the monkey patch is still necessary (#84)
  lib/monkey_patches/devise/omniauth_callbacks_controller_patch.rb
  lib/monkey_patches/devise_token_auth/application_controller_patch.rb
Due: rubocop, debride

chore: remove 'develop' from Lefthook protect-branch
  lefthook.yml
Due: none

chore: remove develop from Lefthook protect-branch (#87)
  lefthook.yml
Due: none

chore: add 'reviewers' to '/Docker/web' in dependabot.yml
  .github/dependabot.yml
Due: none

chore: add 'reviewers' to '/Docker/web' in dependabot.yml (#89)
  .github/dependabot.yml
Due: none

fix: fix SyntaxError in confirmation_instructions.html.erb
  app/views/devise/mailer/confirmation_instructions.html.erb
Due: rubocop, htmlbeautifier

fix: ensure confirmation email is sent correctly upon signing up (#94)
  app/views/devise/mailer/confirmation_instructions.html.erb
Due: rubocop, htmlbeautifier

fix: ensure password reset email is sent correctly
  app/views/devise/mailer/reset_password_instructions.html.erb
Due: rubocop, htmlbeautifier

fix: ensure password reset email is sent correctly (#96)
  app/views/devise/mailer/reset_password_instructions.html.erb
Due: rubocop, htmlbeautifier

build: introduce bullet
  Gemfile
  Gemfile.lock
  config/environments/development.rb
  config/environments/test.rb
Due: rubocop, debride

build: introduce Bullet (#98)
  Gemfile
  Gemfile.lock
  config/environments/development.rb
  config/environments/test.rb
Due: rubocop, debride

chore: update pr template to exclude task management issue numbers
  .github/pull_request_template.md
Due: none

chore: add a comment to the pull request template (#102)
  .github/pull_request_template.md
Due: none

chore: resolve errors when building Docker containers (#148)
  Gemfile
  Gemfile.lock
Due: none

refactor: review whether the monkey patch is still necessary (#150)
  lib/monkey_patches/devise/omniauth_callbacks_controller_patch.rb
  lib/monkey_patches/devise_token_auth/application_controller_patch.rb
Due: rubocop, debride

feat: remove current_user_id handling from application controller and token override
  app/controllers/application_controller.rb
  app/controllers/concerns/set_user_by_token_override.rb
Due: rubocop, debride

feat: modify to not set the current_user_id cookie during authentication (#151)
  app/controllers/application_controller.rb
  app/controllers/concerns/set_user_by_token_override.rb
Due: rubocop, debride

feat: add cookie deletion on user account destruction
  app/controllers/api/v1/auth/registrations_controller.rb
Due: rubocop, debride

feat: delete authentication cookies when an account is deleted (#152)
  app/controllers/api/v1/auth/registrations_controller.rb
Due: rubocop, debride
